<div class="bacon_button">
  <div class="add_bacon">
    <button (click)="handlerBacon($event)" class="add_ing bacon" data-id="add" >add bacon</button>
  </div>
  <div class="remove_bacon">
    <button *ngIf="bacon > 0" (click)="handlerBacon($event)" class="remove_ing bacon" data-id="remove">remove bacon</button>
  </div>
</div>