<div class="meat_button">
  <div class="add_meat">
    <button (click)="handlerMeat($event)" class="add_ing meat" data-id="add" >add meat</button>
  </div>
  <div class="remove_meat">
    <button *ngIf="meat > 0" (click)="handlerMeat($event)" class="remove_ing meat" data-id="remove">remove meat</button>
  </div>
</div>