.meat_button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

button {
  background-color: #374151;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.remove_ing {
  background-color: red;
}