<div class="cheese_button">
  <div class="add_cheese">
    <button (click)="handlerCheese($event)" class="add_ing cheese" data-id="add" >add cheese</button>
  </div>
  <div class="remove_meat">
    <button *ngIf="cheese > 0" (click)="handlerCheese($event)" class="remove_ing cheese" data-id="remove">remove cheese</button>
  </div>
</div>