.burger_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
  margin: auto;
  height: 100%;
  .top_bread{
    height: 20%;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
  }
  .bottom_bread {
    height: 13%;
    width: 80%;
    background: linear-gradient(#f08e4a, #e27b36);
    box-shadow: inset -15px 0 #c15711;
    border-radius: 0 0 30px 30px;
  }
  .meat {
    width: 82%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    border-radius: 15px;
  }
  .cheese {
    width: 91%;
    height: 4.5%;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
  }
  .salad {
    width: 90%;
    height: 7%;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
  }
  .bacon {
    width: 80%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
  }
}