<div class="salad_button">
  <div class="add_salad">
    <button (click)="handlerSalad($event)" class="add_ing meat" data-id="add" >add salad</button>
  </div>
  <div class="remove_salad">
    <button *ngIf="salad > 0" (click)="handlerSalad($event)" class="remove_ing salad" data-id="remove">remove salad</button>
  </div>
</div>