<table class="ingredients_container">
  <tr class="row">
    <th>Name</th>
    <th>Units</th>
    <th>Total</th>
  </tr>
  <tr *ngIf="recipeQuan.meat > 0" class="row">
    <td>Meat</td>
    <td>{{recipeQuan.meat}}</td>
    <td>{{(recipeQuan.meat * currency.meat[this.actualCurrency] / 1000)}}</td>
  </tr>
  <tr *ngIf="recipeQuan.cheese > 0" class="row">
    <td>Cheese</td>
    <td>{{recipeQuan.cheese}}</td>
    <td>{{(recipeQuan.cheese * currency.cheese[this.actualCurrency] / 1000)}}</td>
  </tr>
  <tr *ngIf="recipeQuan.bacon > 0" class="row">
    <td>Bacon</td>
    <td>{{recipeQuan.bacon}}</td>
    <td>{{(recipeQuan.bacon * currency.bacon[this.actualCurrency] / 1000)}}</td>
  </tr>
  <tr *ngIf="recipeQuan.salad > 0" class="row">
    <td>Salad</td>
    <td>{{recipeQuan.salad}}</td>
    <td>{{(recipeQuan.salad * currency.salad[this.actualCurrency] / 1000)}}</td>
  </tr>
  <tr class="row">
    <td></td>
    <td>Total: </td>
    <td>$ {{(totalPrice/1000).toFixed(2)}}</td>
  </tr>
</table>