<main class="wrapper">
  <div class="burger_display">
    <app-burger-display [Ingredients]="recipeOrder"></app-burger-display>
  </div>
  <div class="main_container">
    <p>Change currency</p>
    <select class="currency_select" #currencySelect [value]="actualCurrency" (change)="handleCurrency(currencySelect.value)" name="currency_type" id="currency">
      <option *ngFor="let value of currencyValues" [value]="value">{{value.toUpperCase()}}</option>
    </select>
    <app-ing-table [recipeQuan]="recipeQuan" [totalPrice]="totalPrice" [currency]="currency" [actualCurrency]="actualCurrency"></app-ing-table>
    <div class="buttons">
      <div class="ing_actions_buttons">
        <app-ing-meat [meat] = "recipeQuan.meat" (newMeat)="addIng($event)"></app-ing-meat>
        <app-ing-cheese [cheese] = "recipeQuan.cheese" (newCheese)="addIng($event)"></app-ing-cheese>
        <app-ing-bacon [bacon] = "recipeQuan.bacon" (newBacon)="addIng($event)"></app-ing-bacon>
        <app-ing-salad [salad] = "recipeQuan.salad" (newSalad)="addIng($event)"></app-ing-salad>
      </div>
      <div class="burger_actions">
        <div class="burger_list">
          <p>Saved Burgers</p>
          <select #burgerSelect *ngIf="burgerList.length > 0" (change)="getThisBurger(burgerSelect.value)" name="burger_historial" id="burgers">
            <option value="none" selected disabled>Select a burger</option>
            <option *ngFor="let burger of burgerList; let i = index" [value]="i">burger {{i+1}}</option>
          </select>
        </div>
        <div class="burger_actions_buttons">
          <button class="burger_buttons" (click)="saveThisBurger()">save burger</button>
          <button *ngIf="burgerList.length > 0" class="burger_buttons" (click)="updateThisBurger()">update this burger</button>
        </div>
      </div>
    </div>
  </div>
</main>
