.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  .burger_display {
    width: 50%;
    height: 450px;
  }
  .main_container {
    padding: 1rem 2rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .currency_select {
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      background-color: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='50' viewBox='0 0 30 30' width='50' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 101%;
      background-position-y: -3px;
      cursor: pointer;
    }
    .buttons{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .ing_actions_buttons{
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      .burger_actions{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .burger_list{
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0.5rem;
          select {
            background-color: white;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='50' viewBox='0 0 30 30' width='50' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 101%;
            background-position-y: -3px;
            cursor: pointer;
          }
        }
        .burger_actions_buttons {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: center;
          .burger_buttons {
            background-color: #374151;
            color: white;
            padding: 0.5rem;
            border-radius: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
